@tailwind base;
@tailwind components;
@tailwind utilities;


/* app/globals.css */

/* Customize NProgress */
#nprogress .bar {
    background: #29d;
    height: 4px;
  }
  
  #nprogress .peg {
    box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  }
  
  #nprogress .spinner {
    display: none; /* Optional: remove the spinner */
  }
  